.customButton2Wrapper{
    .customButton2Link{
        text-decoration: none;
        .btn2_Wrapper{
            background-color: white;
            border: 1.2px solid #1564C0;
            color: #1564C0;
            border-radius: 8px;
            padding: 10px 20px 10px 20px;
            font-family: var(--poppins);
            font-size: 12.5px;
            font-weight: regular;
            min-width: 130px;
        }
    }
}